* {
  margin: 0;
  padding: 0;
}

body {
	color: #434242;
	font-family: 'Open Sans', sans-serif !important;
  line-height: 1.64;
}

header {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
} 

.container {
  color: white;
}

#top {
  font-size: 4vw;
  padding: 10px;
  letter-spacing: .3em;
  font-weight: 300;
}

h1 {
  margin-left: 7%;
  margin-right: 7%;
  letter-spacing: 0.4em;
	font-size: 8vw;
	padding-bottom: 30px;
	border-bottom: 1px solid #FFFFFF;
	border-bottom-color: rgba(255, 255, 255, 0.35);
  margin-bottom: 15px;
}

h2 {
  text-align: center;
}

ul {
  list-style-type: none;
}

p {
  text-align: center;
  color: #727878;
  padding: 2em 6em;
}

video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

div {
  position: relative;
}