* {
  margin: 0;
  padding: 0;
}

body {
	color: #434242;
	font-family: 'Open Sans', sans-serif !important;
	height: 100%;
}

header {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
} 

.container {
  color: white;
  display: inline-block;
}

h1 {
  letter-spacing: 0.4em;
	font-size: 8vw;
	padding-bottom: 20px;
	border-bottom: 1px solid #FFFFFF;
	border-bottom-color: rgba(255, 255, 255, 0.35);
  margin-bottom: 15px;
}

